.container{
    display: flex;
    justify-content: center;
    margin: 0 0 25px 0;
}

.top-container{
    flex-flow: column nowrap;
    align-items: center;
}

.mid_container{

}

#grid-container{
    
    min-width: 960px;
    min-height: 480px;
    margin: auto;
    display: grid;
    
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-rows: repeat(auto-fit, min(50px, 1fr)); */
    
    
    


}

.grid-box{
    
    border: 1px solid black;
    background-color: white;
}


.color-black{
    background-color: black;
    
}

.color-white{
    background-color: white;
    transition: 0.5s;
}
