ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;

}

li{
    
    min-width: 200px;
    min-height: 35px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.purple{
    background-color: blueviolet;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}